body{
  margin:0;
  font-family: 'Righteous', cursive;
}
.footer_icon{
  display:flex;
}
.icon{
  margin-right: 28px;
}
.header{
  margin:10%;
}
.icon__vk g {

}
.icon__vk g:hover{

}
h1:hover{
  text-shadow:1px 1px 1px;
}
